@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat' , sans-serif;
}
a{
    text-decoration: none;
}
.container{
min-height: 100vh;
min-width: 100px;
display: flex;
align-items: center;
justify-content: center;
}